{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet"
    />


    <title>Fenix Online</title>
    <!--
    Reflux Template
    https://templatemo.com/tm-531-reflux
    -->
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/assets/css/fontawesome.css"/>
    <link rel="stylesheet" href="../static/assets/css/templatemo-style.css"/>
    <link rel="stylesheet" href="../static/assets/css/owl.css"/>
    <link rel="stylesheet" href="../static/assets/css/lightbox.css"/>
</head>
<style>
    hr {
        display: block;
        margin-top: 1.0em;
        margin-bottom: 1.0em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 2px;
        opacity: 50%;
    }

    .mycontainer {
        background: rgba(255, 255, 255, 0.4);
        color: #fff;
        border-radius: 25px;
        border: white;
        border-width: 1px;
        margin-top: 20px;
    }
</style>

<body>
<div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">
                <div class="image">
                    <a href="#"><img src="../static/assets/images/logo1.png" alt=""/></a>
                </div>
                <div class="author-content">
                    <h4>FENIX EKO MS</h4>
                    <h5>Client Portal</h5>
                </div>
                <nav class="main-nav" role="navigation">
                    <ul class="main-menu">
                        <li><a href="{% url 'home' %}">Home</a></li>
                    </ul>
                </nav>
                <div class="social-network">
                    <ul class="soial-icons">
                        <li>
                            <a href="https://fb.com/fenixeko"
                            ><i class="fa fa-facebook"></i
                            ></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-text">
                    <p>Copyright 2019 Reflux Design</p>
                </div>
            </div>
        </div>
    </div>

    <section class="section contact-me">
        <div class="container">
            <div class="section-heading">
                <h2>Scheduled orders</h2>
                <div class="line-dec"></div>
            </div>
        <div class="text-center">
                <div class="btn-group-lg">
                    <a href="{% url 'admin list orders' %}"
                       class="btn btn-outline-light">All</a>
                    <a href="{% url 'admin list received' %}"
                       class="btn btn-outline-light">Received</a>
                    <a href="{% url 'admin list scheduled' %}"
                       class="btn btn-outline-light">Scheduled</a>
                    <a href="{% url 'admin list delivered' %}"
                       class="btn btn-outline-light">Delivered</a>
                    <a href="{% url 'admin list full' %}"
                       class="btn btn-outline-light">Full</a>
                    <a href="{% url 'admin list picked' %}"
                       class="btn btn-outline-light">Picked-up</a>
                </div>
        </div>
        <br>
            {% if not orders %}
                <h4 style="text-align: center;">You have no scheduled orders</h4>
            {% else %}
                {% for order in orders %}
                    <div class="mycontainer">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 style="margin-left: 20px; margin-top:10px; text-decoration: underline">Order #{{ order.id }} from {{ order.client.company_name }}</h5>
                            </div>
                            <div class="col-md-6">
                                <h6 style="text-align: right; margin-right: 20px; margin-top:10px; color: black">Created
                                    on: {{ order.created_at }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h6 style="margin-left: 20px; color: black">Status: {{ order.status }}</h6>
                            </div>
                            <div class="col-md-6">
                                <h6 style="text-align: right; margin-right: 20px; color: black">Updated
                                    on: {{ order.updated_at }}</h6>
                            </div>
                        </div>
                        <h5 style="text-align: left; margin-left: 20px; margin-top:10px; padding-bottom:10px; text-shadow: 1px 1px 2px black">{{ order.container_size }}
                            container #{{ order.container.id }} for {{ order.wanted_date }}</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <h6 style="margin-left: 20px; color: black;">Scheduled for: {{ order.scheduled_for }}</h6>
                                <h6 style="margin-left: 20px; color:black; padding-bottom: 10px">Delivery by: {{ order.delivered_by }}</h6>
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <div class="btn-group"
                                         style="padding-right: 20px;
                                            padding-bottom: 10px;">
                                        <button class="btn btn-info"
                                                onclick="location.href='{% url 'admin edit order' order.id %}'"
                                                type="button">
                                            Edit Order
                                        </button>
                                        <a href="{% url 'delete order' order.id %}"
                                           class="btn btn-danger"
                                           onclick="return confirm('Are you sure you want to cancel this order?')">CANCEL
                                            ORDER</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}


        </div>
    </section>
</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="../static/assets/js/isotope.min.js"></script>
<script src="../static/assets/js/owl-carousel.js"></script>
<script src="../static/assets/js/lightbox.js"></script>
<script src="../static/assets/js/custom.js"></script>
{#<script>#}
{#    //according to loftblog tut#}
{#    $(".main-menu li:first").addClass("active");#}
{##}
{#    var showSection = function showSection(section, isAnimate) {#}
{#        var direction = section.replace(/#/, ""),#}
{#            reqSection = $(".section").filter(#}
{#                '[data-section="' + direction + '"]'#}
{#            ),#}
{#            reqSectionPos = reqSection.offset().top - 0;#}
{##}
{#        if (isAnimate) {#}
{#            $("body, html").animate(#}
{#                {#}
{#                    scrollTop: reqSectionPos#}
{#                },#}
{#                800#}
{#            );#}
{#        } else {#}
{#            $("body, html").scrollTop(reqSectionPos);#}
{#        }#}
{#    };#}
{##}
{#    var checkSection = function checkSection() {#}
{#        $(".section").each(function () {#}
{#            var $this = $(this),#}
{#                topEdge = $this.offset().top - 80,#}
{#                bottomEdge = topEdge + $this.height(),#}
{#                wScroll = $(window).scrollTop();#}
{#            if (topEdge < wScroll && bottomEdge > wScroll) {#}
{#                var currentId = $this.data("section"),#}
{#                    reqLink = $("a").filter("[href*=\\#" + currentId + "]");#}
{#                reqLink#}
{#                    .closest("li")#}
{#                    .addClass("active")#}
{#                    .siblings()#}
{#                    .removeClass("active");#}
{#            }#}
{#        });#}
{#    };#}
{##}
{#    $(".main-menu").on("click", "a", function (e) {#}
{#        e.preventDefault();#}
{#        showSection($(this).attr("href"), true);#}
{#    });#}
{##}
{#    $(window).scroll(function () {#}
{#        checkSection();#}
{#    });#}
{#</script>#}
</body>
</html>