{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
    select{
        background: rgba(225, 225, 225, 0.4);
        border: white solid;
        width: 100%;
        height: 100%;
        max-height: 40px;
        color: white;
        font-weight: bold;
    }
    select option{
        background: rgba(0, 0, 0, 0.4)
    }
    .errorcontainer {
        background: #a43f49;
        color: #fff;
        border-radius: 25px;
        border: white;
        border-width: 1px;
        margin-top: 20px;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }
    ::placeholder {
        color: rgba(255,255,255,0.4)
    }
</style>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet"
    />

    <title>Fenix Online</title>
    <!--
    Reflux Template
    https://templatemo.com/tm-531-reflux
    -->
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/assets/css/fontawesome.css"/>
    <link rel="stylesheet" href="../static/assets/css/templatemo-style.css"/>
    <link rel="stylesheet" href="../static/assets/css/owl.css"/>
    <link rel="stylesheet" href="../static/assets/css/lightbox.css"/>
</head>

<body>
<div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">
                <div class="image">
                    <a href="#"><img src="../static/assets/images/logo1.png" alt=""/></a>
                </div>
                <div class="author-content">
                    <h4>FENIX EKO MS</h4>
                    <h5>Client Portal</h5>
                </div>
                <nav class="main-nav" role="navigation">
                    <ul class="main-menu">
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </nav>
                <div class="social-network">
                    <ul class="soial-icons">
                        <li>
                            <a href="https://fb.com/fenixeko"
                            ><i class="fa fa-facebook"></i
                            ></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-text">
                    <p>Copyright 2019 Reflux Design</p>
                </div>
            </div>
        </div>
    </div>

    <section class="section contact-me">
        <div class="container">
            <div class="section-heading">
                <h2>Create your profile</h2>
                <div class="line-dec"></div>
                    <div class="right-content">
                        <div class="container">
                            <br>
                            <form id="contact" action="{% url 'register' %}" method="POST">
                                {% csrf_token %}
                                {% if user_form.errors or client_form.errors%}
                                    <div class="errorcontainer">
                                    <h5 style="padding-top: 10px; text-shadow: 1px 1px 1px black">Unsuccessful registration! ❌</h5>
                                        {% for field in user_form %}
                                            {% for error in field.errors %}
                                                <h6 style="font-weight: bold;"> {{ error }} </h6>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for field in client_form %}
                                            {% for error in field.errors %}
                                                <h6 style="font-weight: bold;"> {{ error }} </h6>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Username</h5>
                                        {{ user_form.username }}
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Password</h5>
                                        {{ user_form.password }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>First name</h5>
                                        <h6 style="-webkit-text-fill-color: grey">/to be used for invoicing/</h6>
                                        {{ user_form.first_name }}
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Last name</h5>
                                        <h6 style="-webkit-text-fill-color: grey">/to be used for invoicing/</h6>
                                        {{ user_form.last_name }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Company name</h5>
                                        {{ client_form.company_name }}
                                    </div>
                                    <div class="col-md-6" style="padding-bottom: 30px">
                                        <h5>Entity form</h5>
                                        {{ client_form.company_form }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Email</h5>
                                        {{ user_form.email }}
                                    </div>
                                    <div class="col-md-6">
                                        <h5>EIK number</h5>
                                        {{ client_form.eik_number }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>VAT registered</h5>
                                        {{ client_form.vat_status }}
                                    </div>
                                    <div class="col-md-6">
                                        <h5>VAT number</h5>
                                        {{ client_form.vat_number }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Street address</h5>
                                        {{ client_form.address }}
                                    </div>
                                    <div class="col-md-6">
                                        <h5>City</h5>
                                        {{ client_form.city }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Postcode</h5>
                                        {{ client_form.postcode }}
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Phone number</h5>
                                        {{ client_form.phone_number }}
                                    </div>
                                </div>
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="button">
                                                Register
                                            </button>
                                        </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="../static/assets/js/isotope.min.js"></script>
<script src="../static/assets/js/owl-carousel.js"></script>
<script src="../static/assets/js/lightbox.js"></script>
<script src="../static/assets/js/custom.js"></script>
</body>
</html>